## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [7]:
mi_nombre = "Sebastian Gabriel Vanella"

5) Crear una variable que contenga un número complejo

In [8]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [20]:
var1 = "True"
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [22]:
print("la variable 1 es de tipo", type(var1), "y la variable 2 es de tipo", type(var2))

la variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [23]:
a = 1 + 3.4

11) Realizar una operación de suma de números complejos

In [30]:
a = 3 + 1j
b = 1 + 3j
print(a + b)

(4+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [31]:
c = a + 3.16
print(c)

(6.16+1j)

13) Realizar una operación de multiplicación

In [32]:
print(9 * 3)

27

14) Mostrar el resultado de elevar 2 a la octava potencia

In [33]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
a = 27 / 4 
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [36]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
print((6*4) + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [2]:
var1= "Una"
var2= " Sorpresa"
print(var1 + var2)

Una Sorpresa

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [50]:
var1 = 2
var2 = "2"
print(var1 == var2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [7]:
str(2) == "2"

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [10]:
a = float("3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [8]:
var1= 3
var1 -= 1
print(var1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [9]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [1]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [4]:
int(2) = str("2")

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (417412472.py, line 1)